*
{
    margin: 0;
    padding: 0;
}

body {
    background: url(../images/fan_art.jpg);
    background-size: 100%;
}

h1 {
    color: #fff;
    padding-top: 50px;
    font-size: 50px;
    text-shadow: 1px 1px 3px #fff;
}

