<header>
  <nav>
      <div>
        <ul class="navbar ">
            <li> <a href="{{ url_for("view_home") }}">01 : Home</a> </li>
            <li> <a href="{{ url_for("view_about") }}">02 : About</a> </li>
            <li> <a href="{{ url_for("contactForm") }}">03 : Contact</a> </li>
        </ul>
      </div>
  </nav>
</header>