<head>
    {% block head%}
        {% include "_head.jinja" %}
    {% endblock %}
</head>

<body>

<header>
    {% include "_nav.jinja" %}
</header>

<main>
    {% block main %}
        <h1>03 : Contact</h1>
        {% include "form.jinja" %}
    {% endblock %}
</main>

<footer>
    {% include "_footer.jinja" %}
</footer>

</body>
