<head>
  {% block head%}
      {% include "_head.jinja" %}
      <link rel="stylesheet" type="text/css" href={{url_for("static", filename="css/home.css")}}>
  {% endblock %}
</head>

<body class="index">

<header>
    {% include "_nav.jinja" %}
</header>

<main>
    {% block main %}
        <section>
                <h1><br>
                    <span id="typed-strings">
                        <span>Hello</span>
                        <span>I'm Jan Burýšek</span>
                        <span>Czech Programmer</span>
                        <span>Currently Looking For Job :D </span>
                    </span>
                    <span id="typed"></span>
                </h1>
        </section>
    {% endblock %}
</main>

<script type="text/javascript" src="/static/js/main.js"> </script>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>

<footer>
    {% include "_footer.jinja" %}
</footer>

</body>